@(dash: models.Dashboard, cohoSignIn: String)(implicit request: Request[_], lang: Lang, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form
@import play.twirl.api.Html
@import play.twirl.api.HtmlFormat
@import scala.collection.immutable.Seq

@incDashboardMessage = {
    @Messages("page.reg.Dashboard.incSubmittedLineOne")
<br>
    @Messages("page.reg.Dashboard.incSubmittedLineTwo")
}
@ctDashboardMessage = {
    @Messages("page.reg.Dashboard.CTSubmittedLineOne")
    @Messages("page.reg.Dashboard.CTSubmittedLineTwo")
}
@ctDashboardMessagePending = {
    @Messages("page.reg.Dashboard.CTPendingLineOne")
}

@incorpStatus = {
    @{dash.incDash.status match {
        case "held" => Messages("page.reg.Dashboard.status.submitted")
        case "submitted" => Messages("page.reg.Dashboard.status.registered")
        case "acknowledged" => Messages("page.reg.Dashboard.status.registered")
    }}
}

@ctStatus = {
    @{
        val rejected = dash.incDash.ackRefStatus.fold(false)(_ == "06")
        dash.incDash.status match {
            case _ if rejected => Messages("page.reg.Dashboard.status.rejected")
            case "held" => Messages("page.reg.Dashboard.status.pending")
            case "submitted" => Messages("page.reg.Dashboard.status.submitted")
            case "acknowledged" => Messages("page.reg.Dashboard.status.registered")
        }
    }
}

@doYouNeedToRegisterHelp = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td colspan="2">
            <span>@Messages("page.reg.Dashboard.PAYE.employerHelpTextParagraph1")</span>
            <ul class="list list-bullet">
                <li style="font-size: 16px">@Messages("page.reg.Dashboard.PAYE.employerHelpTextParagraph2")</li>
                <li style="font-size: 16px">@Messages("page.reg.Dashboard.PAYE.employerHelpTextParagraph3")</li>
            </ul>
        </td>
    </tr>
</thead>
}

@doYouNeedToRegisterForVATHelp = {
<thead>
<tr class="tabular-data__cell--centred status--confirm-success" role ="row">
    <td colspan="2">
        <details>
            <summary class="summary">@Messages("page.reg.Dashboard.VAT.helpLink")</summary>
            <div class="panel-indent panel-indent--gutter">
                @Messages("page.reg.Dashboard.VAT.helpTextParagraph1")
                <ul class="list list-bullet">
                    <li style="font-size: 16px">@Messages("page.reg.Dashboard.VAT.helpTextParagraph2")</li>
                    <li style="font-size: 16px">@Messages("page.reg.Dashboard.VAT.helpTextParagraph3")</li>
                </ul>
                <p style="font-size: 16px">@Messages("page.reg.Dashboard.VAT.helpTextParagraph4")</p>
                <p style="font-size: 16px">@Messages("page.reg.Dashboard.VAT.helpTextParagraph5")</p>
            </div>
        </details>
    </td>
</tr>
</thead>
}

@notEligiblePAYE = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td colspan="2">
            @Messages("page.reg.Dashboard.PAYE.notEligibleWords") <a href=@dash.payeDash.links.otrsURL>@Messages("page.reg.Dashboard.PAYE.notEligibleLink")</a>
        </td>
    </tr>
</thead>
}

@PAYERef = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td>@Messages("page.reg.Dashboard.ref")</td>
        <td><span id="PAYERef">@dash.payeDash.ackRef.fold("NONE")(ref => ref)</span></td>
    </tr>
</thead>
}

@PAYEDate = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td>@Messages("page.reg.Dashboard.submissionDate")</td>
        <td><span id="PAYEDate">@dash.payeDash.lastUpdate.fold("NONE")(ref => ref)</span></td>
    </tr>
</thead>
}

@PAYEPending = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td colspan="2">@Messages("page.reg.Dashboard.PAYE.pendingText")</td>
    </tr>
</thead>
}

@PAYESubmitted = {
<thead>
    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
        <td colspan="2">
            @Messages("page.reg.Dashboard.PAYE.submittedParagraph1")
            <ul class="list list-bullet">
                <li style="font-size: 16px">@Messages("page.reg.Dashboard.PAYE.submittedParagraph2")</li>
                <li style="font-size: 16px">@Messages("page.reg.Dashboard.PAYE.submittedParagraph3")</li>
            </ul>
        </td>
    </tr>
</thead>
}

@showVATBlock = @{(dash.incDash.status == "submitted" || dash.incDash.status == "acknowledged" || dash.incDash.ackRefStatus.fold(false)(_ == "06")) && dash.hasVATCred == false}

@payeMap = {
    @{dash.payeDash.status match {
       case "notStarted" => doYouNeedToRegisterHelp
       case "notEligible" => notEligiblePAYE
       case "draft" => HtmlFormat.fill(Seq(displayRegistrationActions(dash.payeDash, "paye"), doYouNeedToRegisterHelp))
       case "held" => HtmlFormat.fill(Seq(PAYERef, PAYEPending))
       case "submitted" => HtmlFormat.fill(Seq(PAYEDate, PAYERef, PAYESubmitted))
       case "acknowledged" => {""}
       case "invalid" => HtmlFormat.fill(Seq(displayRegistrationActions(dash.payeDash, "paye"), doYouNeedToRegisterHelp))
       case "rejected" => HtmlFormat.fill(Seq(displayRegistrationActions(dash.payeDash, "paye"), doYouNeedToRegisterHelp))
       case "notEnabled" => {""}
       case "unavailable" => {""}
    }}
}

@main_template(title = Messages("page.reg.Dashboard.title"), mainClass = None) {

    <a id="back" class="link-back" href="javascript:history.back()">@Messages("common.button.back")</a>

    <style type="text/css">
        td:first-child {
            width: 50%;
        }
        td:only-child {
            width: 100%;
        }
    </style>

    <div class="form-group">
        <header>
            <h1 class="heading-xlarge" id="main-heading">@Messages("page.reg.Dashboard.heading")</h1>
        </header>

        <!--<h2 class="heading-medium">@dash.companyName</h2>-->
        <h2 class="heading-medium" id="subheading">@Messages("page.reg.Dashboard.incorporation")</h2>

        <div class="form-group">

            <table class="check-your-answers">

                <tbody>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td class="check-your-answers">@Messages("page.reg.Dashboard.status")</td>
                        <td id="incorpStatusText">@incorpStatus</td>
                    </tr>
                </tbody>

                @if(dash.incDash.status == "held") {
                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td>@Messages("page.reg.Dashboard.submissionDate")</td>
                            <td id="incorpSubmissionDate">@dash.incDash.submissionDate</td>

                        </tr>
                    </tbody>

                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td>@Messages("page.reg.Dashboard.ref")</td>
                            <td id="incorpTransID">@dash.incDash.transId</td>

                        </tr>
                    </tbody>

                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td>@Messages("page.reg.Dashboard.paymentRef")</td>
                            <td id="incorpPaymentReference">@dash.incDash.paymentRef</td>

                        </tr>
                    </tbody>

                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                           <td id="incorpSubmittedText" colspan="2">@Messages("page.reg.Dashboard.incSubmittedLineOne")</td>

                        </tr>
                    </tbody>

                } else {
                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td>@Messages("page.reg.Dashboard.crn")</td>
                            <td id="crn">@dash.incDash.crn</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td id="incorpRegisteredText" colspan="2">@Messages("page.reg.Dashboard.incChangeDetailsPrefix") <a href="@cohoSignIn">@Messages("page.reg.Dashboard.incChangeDetailsLinkText")</a>@Messages("page.reg.Dashboard.incChangeDetailsSuffix")</td>
                        </tr>
                    </tbody>
                }
            </table>


            <!--Corporation Block-->
            <h3 class="heading-medium" id="corporationSubheading">@Messages("page.reg.Dashboard.corporation")</h3>
            <table class="check-your-answers">

                <!-- CT Status -->
                <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td>@Messages("page.reg.Dashboard.status")</td>
                        <td  id="ctStatusText">@ctStatus</td>

                    </tr>
                </thead>
                <!-- CT Status end -->

                @if(dash.incDash.status == "held") {
                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td>@Messages("page.reg.Dashboard.ref")</td>
                        <td id="ackRef">@dash.incDash.ackRef</td>

                    </tr>
                    </thead>


                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td id="ctPendingText" colspan="2">@Messages("page.reg.Dashboard.CTPendingLineOne")</td>

                    </tr>
                    </thead>
                } @if(dash.incDash.status == "submitted"){
                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td>@Messages("page.reg.Dashboard.submissionDate")</td>
                        <td id="ctSubmissionDate">@dash.incDash.ctSubmissionDate</td>

                    </tr>
                    </thead>

                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td>@Messages("page.reg.Dashboard.ref")</td>
                        <td id="submittedAckRef">@dash.incDash.ackRef</td>

                    </tr>
                    </thead>

                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td colspan="2">
                            <span id="CTifSuccess">@Messages("page.reg.Dashboard.CTSubmittedLineOne")</span>
                            <ul class="list list-bullet">
                                <li style="font-size: 16px">@Messages("page.reg.Dashboard.CTSubmittedLineTwo")</li>
                                <li style="font-size: 16px">@Messages("page.reg.Dashboard.CTSubmittedLineThree")</li>
                            </ul>
                        </td>

                    </tr>
                    </thead>
                } @if(dash.incDash.status == "acknowledged"){
                <thead>
                <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                    <td colspan="2">
                        <p>@Messages("page.reg.Dashboard.CTRegistered")</p>
                    </td>

                </tr>
                </thead>
                }
                @if(dash.incDash.ackRefStatus.fold(false)(_ == "06")){

                    <thead>
                    <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                        <td>@Messages("page.reg.Dashboard.wycd")</td>
                        <td colspan="2"><a href="https://online.hmrc.gov.uk/registration/newbusiness/introduction">
                            @Messages("page.reg.Dashboard.CTUnsuccessful")</a></td>
                    </tr>
                    </thead>
                }
            </table>

            @if(dash.payeDash.status != "notEnabled"){
                <h4 class="heading-medium" id="payeSubheading">@Messages("page.reg.Dashboard.PAYE.subHeading")</h4>

                @if(dash.payeDash.status == "notStarted"){
                    <table class="check-your-answers">
                        @payeMap

                        <thead>
                        @displayRegistrationStatus(dash.payeDash, "paye")
                        </thead>
                    </table>
                } else {
                    <table class="check-your-answers">
                        <thead>
                        @displayRegistrationStatus(dash.payeDash, "paye")
                        </thead>

                        @payeMap
                    </table>
                }
            }

            @if(dash.vatDash.nonEmpty) {
                @vatDashboard(dash.vatDash.get)
            } else {
                @if(showVATBlock) {
                    <!--VAT Block-->
                    <h4 class="heading-medium" id="vatSubheading">@Messages("page.reg.Dashboard.VAT.title")</h4>
                    <table class="check-your-answers">
                        <!-- VAT Status -->
                        <thead>
                        <tr class="tabular-data__cell--centred status--confirm-success" role ="row">
                            <td>@Messages("page.reg.Dashboard.status")</td>
                            <td id="legacyVATStatusText">
                                <a id="vatUrl" href="https://online.hmrc.gov.uk/registration/newbusiness/introduction">@Messages("page.reg.Dashboard.VAT.registerText")</a>
                            </td>
                        </tr>
                        </thead>
                        <!-- VAT Status end -->
                        @doYouNeedToRegisterForVATHelp
                    </table>
                }
            }
        </div>
    </div>

}



