@import controllers.CRLanguageController
@import play.api.Application

@(confirmationRefs: models.connectors.ConfirmationReferences)(implicit request: Request[_], lang: Lang, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = Messages("page.reg.Confirmation.title"), mainClass = None) {

    <div class="govuk-box-highlight">
        <h1 id="heading-application-submitted" class="transaction-banner__heading" style="color: #fff">@Messages("page.reg.Confirmation.heading")</h1>
        <p align="center">@Messages("page.reg.Confirmation.you-have")</p>
        <ul class="list list-bullet" style="text-align: left; width:65%; margin: 0 auto;">
            <li id="ltd-ref"><strong class="heading-small">@Messages("page.reg.Confirmation.bullet.ltd")</strong>
                <br>
                (@Messages("page.reg.Confirmation.ref-number") <strong class="heading-small">@confirmationRefs.transactionId)</strong></li>
                <br>
            <li id="ct-ref"><strong class="heading-small">@Messages("page.reg.Confirmation.bullet.inc")</strong>
                <br>
                (@Messages("page.reg.Confirmation.ref-number") <strong id="ackref" class="heading-small">@confirmationRefs.acknowledgementReference</strong>)</li>
            <br>
            <li id="payment-ref"><strong class="heading-small">@Messages("page.reg.Confirmation.bullet.payment") £@confirmationRefs.paymentAmount</strong>
                <br>
                (@Messages("page.reg.Confirmation.ref-number") <strong class="heading-small">@confirmationRefs.paymentReference</strong>)</li>
                <br>
        </ul>
    </div>
<br>
    <h2 id="next-steps">@Messages("page.reg.Confirmation.next-steps")</h2>



<br>

    <div>
        <p id="email">@Messages("page.reg.Confirmation.next-steps.email")</p>

        <p id="certificate">@Messages("page.reg.Confirmation.next-steps.certificate")</p>

        <p id="security">@Messages("page.reg.Confirmation.next-steps.security")</p>

        <p id="keep-safe-text">@Messages("page.reg.Confirmation.keep-safe.text")</p>

    </div>

    <br>
    @form(action = controllers.reg.routes.ConfirmationControllerImpl.submit()) {
        <div class="form-group">
            <button class="button" role="button" id="next">@Messages("page.reg.finish.btn")</button>
        </div>
    }
    <div class="form-group">
        <a href="questionnaire">@Messages("page.reg.Confirmation.questionnaire.link")</a>
    </div>
}