@()(implicit request: Request[_], lang: Lang, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = Messages("page.reg.incompleteReg.title"), mainClass = None) {

<a id="back" class="link-back" href="javascript:history.back()">@Messages("common.button.back")</a>

<div class="grid-row">
    <div class="column-one-third">
        <header class="page-header">
            <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.reg.incompleteReg.heading")</h1>
        </header>
        <div class="notice">
            <div class="important-notice">
                @Messages("page.reg.incompleteReg.warning")<br>
                <BR>
            </div>
        </div>
        <div class="form-group">
            <p id="description-one">@Messages("page.reg.incompleteReg.description.one")</p>

            <p id="description-two">@Messages("page.reg.incompleteReg.description.two")</p>
            </br>
            @form(action = controllers.reg.routes.IncompleteRegistrationController.submit()) {
            <div class="form-group">
                <button class="button-get-started" role="button" id="next">@Messages("common.button.sign-in")</button>
            </div>
            }
        </div>
        </br>
    </div>

</div>
}