@(ppobForm: Form[PPOBChoice], ROAddress: NewAddress, PPOBAddress: Option[NewAddress])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.{form, input}
@import views.html.helpers.{inputRadioGroup, errorSummary}

@PPOBIsEqualToRO = @{PPOBAddress match {
    case Some(ppob) => ppob.isEqualTo(ROAddress)
    case _ => false
}}

@main_template(title = Messages("page.reg.ppob.title")) {

    <a id="back" class="link-back" href="@controllers.reg.routes.PPOBController.back()">@Messages("common.button.back")</a>

    @errorSummary(
        Messages("common.errorSummary.label"),
        ppobForm
    )

    <header class="page-header">
        <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.reg.ppob.heading")</h1>
    </header>

    <p>@Messages("page.reg.ppob.location")</p>
    <p>@Messages("page.reg.ppob.mobileBusiness")</p>

    @form(action = controllers.reg.routes.PPOBController.submit()) {
        <div class="form-group">
            @inputRadioGroup(
                ppobForm("addressChoice"),
                PPOBAddress.fold(Seq.empty[(String, String)])(PPOBAddr => Seq("PPOB" -> PPOBAddr.mkString))
                  ++ (if(PPOBIsEqualToRO) Seq.empty[(String, String)] else Seq("RO" -> ROAddress.mkString))
                  ++ Seq("Other" -> messages("page.reg.ppob.other")),
                '_labelClass -> "block-label radio-label",
                '_legend -> Messages("page.reg.ppob.heading"),
                '_legendClass -> "visuallyhidden"
            )
        </div>

        <div class="form-group" id="nextButton">
            <button class="btn button" id="next" name="action" value="continue">@Messages("common.button.snc")</button>
        </div>
    }
}