@import uk.gov.hmrc.play.views.html.helpers.{form}
@import controllers.CRLanguageController
@import play.api.Application
@import views.html.helpers.{inputRadioGroupHidden, dateFieldsFreeInline, errorSummary, inputRadioGroup}

@(returningUser : Form[models.ReturningUser])(implicit request: Request[_], lang: Lang, messages: Messages)

@main_template(title = Messages("page.reg.returningUser.title"), mainClass = None){

    <a id="back" class="link-back" href="javascript:history.back()">@Messages("common.button.back")</a>

    @errorSummary(
    Messages("common.errorSummary.label"),
    returningUser, dataJourney = Some("ReturningUser")
    )

    <header class="page-header">
        <h1 id="main-heading" class="heading-xlarge">@Messages("page.reg.returningUser.heading")</h1>
    </header>

    @form(action = controllers.reg.routes.ReturningUserController.submit()) {

    @inputRadioGroup(
        returningUser("returningUser"),
        Seq(("true",Messages("page.reg.returningUser.radioYesLabel")),("false",Messages("page.reg.returningUser.radioNoLabel"))),
        '_fieldsetId -> "returning-user",
        '_groupClass -> "form-group",
        '_labelClass -> "block-label radio-label",
        '_legend -> "Are you starting a new registration?",
        '_legend -> Messages("page.reg.returningUser.heading"),
        '_legendClass -> "visuallyhidden"

    )

    <div class="form-group">
        <input class="button" type="submit" id="next" value="@Messages("common.button.save")">
    </div>
    }
}