@import uk.gov.hmrc.play.views.html.helpers.{form}
@import controllers.CRLanguageController
@import play.api.Application
@import views.html.helpers.{inputRadioGroupHidden, dateFieldsFreeInline, errorSummary, inputRadioGroup}



@(tradingDetails : Form[TradingDetails])(implicit request: Request[_], lang: Lang, messages: Messages)

@main_template(title = Messages("page.reg.ct61.title"), mainClass = None){

    <a id="back" class="link-back" href="javascript:history.back()">@Messages("common.button.back")</a>

    @errorSummary(
    Messages("common.errorSummary.label"),
    tradingDetails, dataJourney = Some("TradingDetails")
    )

    <header class="page-header">
        <h1 id="main-heading" class="heading-xlarge">@Messages("page.reg.ct61.heading")</h1>
    </header>

    <div class="form-group">
        <p class="lede">@Messages("page.reg.ct61.lede")</p>
    </div>

    <div class="form-group">
        <ul class="list list-bullet">
            <li>@Messages("page.reg.ct61.bullet1")</li>
            <li>@Messages("page.reg.ct61.bullet2")</li>
            <li>@Messages("page.reg.ct61.bullet3")</li>
        </ul>
    </div>
    <details>
        <summary class="summary">@Messages("page.reg.ct61.whyAsked")</summary>
        <div class="panel-indent panel-indent--gutter">
            <p>@Messages("page.reg.ct61.p1")</p>
            <p>@Messages("page.reg.ct61.p2")</p>
            <p>@Messages("page.reg.ct61.p3")</p>
        </div>
    </details>
    <details>
        <summary class="summary">@Messages("page.reg.ct61.directorsLoan")</summary>
        <div class="panel-indent panel-indent--gutter">
            <p>@Messages("page.reg.ct61.dL.p1")</p>
            <ul class="list list-bullet">
                <li>@Messages("page.reg.ct61.dL.bullet1")</li>
                <li>@Messages("page.reg.ct61.dL.bullet2")</li>
            </ul>
            <p>@Messages("page.reg.ct61.dL.p2")</p>
            <ul class="list list-bullet">
                <li>@Messages("page.reg.ct61.dL.bullet3")</li>
                <li>@Messages("page.reg.ct61.dL.bullet4")</li>
            </ul>
        </div>
    </details>
    @form(action = controllers.reg.routes.TradingDetailsController.submit()) {
        <div class="form-group">
            @inputRadioGroup(
                tradingDetails("regularPayments"),
                Seq(("true",Messages("page.reg.ct61.radioYesLabel")),("false",Messages("page.reg.ct61.radioNoLabel"))),
                '_fieldsetId -> "regular-payments",
                '_groupClass -> "inline",
                '_labelClass -> "block-label radio-label",
                '_legend -> "Do you expect to make or receive payments?",
                '_legend -> Messages("page.reg.ct61.heading"),
                '_legendClass -> "visuallyhidden"
            )
        </div>

        <div class="form-group">
            <input class="button" type="submit" id="next" value="@Messages("common.button.save")">
        </div>
    }
}
