@(OrgAccountUrl:String)(implicit request: Request[_], lang: Lang, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = Messages("page.verification.create-ggw-account.title"), mainClass = None) {

<a id="back" class="link-back" href="javascript:history.back()">@Messages("common.button.back")</a>

<div class="form-group">
    <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.verification.create-ggw-account.main-title")</h1>

    <div class="form-group">
        <p id="para-one">@Messages("page.verification.create-ggw-account.para.one")</p>

        <p id="para-two">@Messages("page.verification.create-ggw-account.para.two")</p>
    </div>

    <div class="form-group">
        <a class="button" id="continue" href=@OrgAccountUrl>@Messages("common.button.continue")</a>
    </div>

</div>
}