@import 'form-validation.css';
@import 'taas.css';

/* All the styles below can be deleted when HMRC AF moves to version 3 and/or 4 */
@media (min-width: 641px) {
	/*
		Overriding HMRC AF that has 'temporary' which is overriding govuk_frontend_static
		https://github.com/hmrc/assets-frontend/blob/3610585baeb96bb4ad9d73d20cfb73864e095b50/assets/scss/base/typography/_headings.scss#L41
	*/
	.heading-medium {
    margin-top: 1.875em !important;
  }
}
