@(heading: String,
  form: Form[_],
  errorArgs: Seq[String] = Seq.empty,
  classes: Seq[String] = Seq.empty,
  dataJourney: Option[String] = None)(implicit request: Request[_], messages: Messages)

<div class="error-summary@if(form.hasErrors) { error-summary--show} @classes.mkString(" ")"
     id="error-summary-display"
     role="alert"
     aria-labelledby="error-summary-heading"
     tabindex="-1">
    <h2 id="error-summary-heading" class="h3-heading">@heading</h2>
    <ul class="error-summary-list">
    @if(form.hasErrors) {
        @form.errors.map { error =>
            @if(!(error.key == "")){
                <li role="tooltip" data-metrics="CTerror:@dataJourney.getOrElse("PageUnknown"):@error.message">
                    <a href="#@error.key"
                       id="@{error.key}-error-summary"
                       data-focuses="@error.key">
                    @Messages(error.message, error.args: _*)
                    </a>
                </li>
            } else {
                @if(error.args.nonEmpty){
                    @if(errorArgs.filter(_ == error.args(0)).nonEmpty){
                        <li role="tooltip" data-metrics="CTerror:@dataJourney.getOrElse("PageUnknown"):@error.message">
                            <a href="#@error.args(0)"
                               id="@{error.args(0)}-error-summary"
                               data-focuses="@error.args(0)">
                                @Messages(error.message, error.args: _*)
                            </a>
                        </li>
                    }
                }
            }
        }
    }
    </ul>
</div>