$govuk-assets-path: "/register-your-company/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/register-your-company/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

@media (min-width: 40.0625em) {
  .govuk-header__logo {
    width: 20%;
  }
}

@media (min-width: 40.0625em) {
  .govuk-header__content {
    width: 80%;
  }
}

/*
  This was raised by DAC, it's used on the play back of the email address. Force wrapping to break anywhere otherwise
  it overflows out of the display port and on 400% zoom using a11y tools it would be cut-off. DAC preferred this approach
  to wrap at anypoint onto the next line so the full email is visible to the User.
 */
.word-wrap {
  overflow-wrap: anywhere;
}